window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
  open-maximized true
}

window-rule {
  match app-id="Alacritty"
  open-maximized false
}

//image viewer for yazi in alacritty
window-rule {
  match app-id="^ueberzug$"
  match is-floating=true
  default-floating-position x=0 y=0 relative-to="top-right"
}
