@import '/home/roman/.config/wofi/color_schemes/rainy_colors.css';

* {
  transition: 0.2s;
  font-family: ArimoNerdFont;
  font-size: 16px;
}

window {
    margin: 0px;
    border: 2px solid @window-color;
    background-color: @window-back-color;
    border-radius: 16px;
}

#input {
    padding: 4px;
    margin: 20px;
    padding-left: 20px;
    border: none;
    color: @input-color;
    font-weight: bold;
    background: @input-back-color;
    outline: none;
    border-radius: 16px;
}

#input image {
    color: @image-color;
}

#input:focus {
    border: none;
   	outline: none;
}

#inner-box {
    margin: 20px;
    margin-top: 0px;
    border: none;
    color: @inner-box-color;
    border-radius: 16px;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 0px;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 16px;
    margin-bottom: 5px;
}

#text:selected {
    color: @text-selected-color;
    font-weight: bold;
}

#img {
    margin-right: 20px;
    background: transparent;
}

#text {
    margin: 0px;
    border: none;
    padding: 0px;
    color: @text-color;
    background: transparent;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
    min-height:32px;
    font-weight: bold;
}

#entry:selected {
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 16px;
    background: linear-gradient(90deg, @selected-grad1-color 0%, @selected-grad2-color 100%);
}
