@import '../current_color.css';

#tray { 
  border: 2px solid;
  border-radius: 9px;

  padding-left: 3px;
  padding-right: 3px;
  margin: 4px 3px 4px 3px;

  color: @text;
  background-color: @background;
  border-color: @background_borders;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
