@import 'current_color.css';

* {
  /*fonts*/
  font-family: ArimoNerdFont;
  font-size: 13px;
  font-weight: bold;
  min-height: 0px;
  
  /*next code isn't working*/

  /*borders*/
  /*border: 2px solid;
  border-radius: 9px;*/

  /*spacing*/
  /*padding-left: 3px;
  padding-right: 3px;
  margin: 4px 3px 4px 3px;*/

  /*colors*/
  /*color: @text;
  background-color: @background;
  border-color: @background_borders;*/
}

window#waybar {
  border: none;
  background-color: @transparent;
}


/*modules*/
@import 'modules/tray.css';
@import 'modules/clock.css';
@import 'modules/battery.css';
@import 'modules/language.css';
@import 'modules/temperature.css';
@import 'modules/memory.css';
@import 'modules/cpu.css';
@import 'modules/backlight.css';
@import 'modules/network.css';
@import 'modules/bluetooth.css';
@import 'modules/wireplumber.css';
@import 'modules/workspaces.css';


/*groups*/
#custom-stats-wrap {
  border: 2px solid;
  border-radius: 9px;

  padding-left: 3px;
  padding-right: 3px;
  margin: 4px 3px 4px 3px;

  color: @text;
  background-color: @background;
  border-color: @background_borders;
}
#custom-net-wrap {
  border: 2px solid;
  border-radius: 9px;

  padding-left: 3px;
  padding-right: 3px;
  margin: 4px 3px 4px 3px;

  color: @text;
  background-color: @background;
  border-color: @background_borders;
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}*/
